.label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
.filterInput {
  margin-left: 10px;
  border: 1px solid steelblue;
  border-radius: 4px;
  padding: 12px 20px;
}
.filterInput:focus {
  border: none;
  outline: 0;
  outline-offset: 0;
  box-shadow: 0 0 0 2px coral inset, 0 0 0 4px white inset;
}